{{ with .Site.Params.social.homepage -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Data.l10n.homepage }}">
		<i class="fa fa-fw fa-home"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.email -}}
<li class="icon">
	<a href="mailto:{{ $.Site.Params.social.email }}" title="{{ $.Site.Data.l10n.email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{{- end }}

{{ if .Site.Params.social.rss -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}index.xml" title="{{ $.Site.Data.l10n.rssSubscribe }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.github -}}
<li class="icon">
	<a href="https://github.com/{{ $.Site.Params.social.github }}" title="{{ $.Site.Data.l10n.github }}">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.wordpress -}}
<li class="icon">
	<a href="https://{{ $.Site.Params.social.wordpress }}.wordpress.com/" title="{{ $.Site.Data.l10n.wordpress }}">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{{- end }}
